
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
        @{
            ViewBag.Title = "Delete";
        }

        <form method="post">
            <h2>Are you sure you want to delete your account?</h2>
            <button type="submit">Yes</button>
        </form>
    </div>
</body>
</html>
