
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        @model UrlShortener.Models.EditModel

        @{
            ViewBag.Title = "Edit";
        }

        <h2>Edit profile</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.ValidationSummary(true, "")
                <div>
                    <p>Year: @Html.EditorFor(model => model.Year)</p>
                </div>

                <div>
                    <div>
                        <input type="submit" value="Save" />
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
