
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error409</title>
</head>
<body>
    <div>
        @{
            ViewBag.Title = "Conflict";
        }

        <h2>Conflict</h2>

        <p>The name you've chosen already exists.</p>
    </div>
</body>
</html>
