@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
</head>
<body>
    <div>
        @{
            ViewBag.Title = "Not Found";
        }

        <h2>Not Found</h2>

        <p>The resource you've requested isn't found.</p>
    </div>
</body>
</html>
